<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/userRelated/changePassword.css">
    <title>Password Changing</title>
</head>
<body>

    <header>
        <div class="header-container">
            <a th:href="@{/bswap/{homePage}(homePage=${homePage})}">
                <img src="/images/BswapBW.png" alt="Logo Bswap" width="220">
            </a>
            <nav>
                <ul>
                    <li><a th:href="@{/bswap/{homePage}(homePage=${homePage})}">Home</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>

            </nav>
    </header>


    <main>
        <h1>Change your Password</h1>

        <div th:if="${param.wrongpwd}">
            Wrong Password!
        </div>
		
        <!-- <div th:if="${param.success}">
            Password updated with success!
        </div> -->

        <script th:if="${param.success}">
            alert("Password updated with success!");
        </script>

        <div th:if="${param.pwdequal}">
			New password can not be equal to the old password!
        </div>
        <div th:if="${param.pwddiff}">
			Passwords do not match!
        </div>
        
        <!-- ESSE @{id} ele tá pegando direto da @PathVariable que chamou este html! -->
        <div class="loginF">
            <form th:action="@{/bswap/myProfile/{id}/changePassword(id=${id})}" method="post" th:object="${passwordForm}">
                <div>
                <input type="password" name="oldPassword" th:field="*{oldPassword}" required placeholder="Old Password"/>
                </div>
                <div>
                <input type="password" name="newPassword" th:field="*{newPassword}" required placeholder="New Password"/>
                </div>
                <div>
                    <input type="password" name="retypedNewPassword" th:field="*{retypedNewPassword}" required placeholder="Retype New Password"/>
                    </div>
                <button type="submit">Save</button>
            </form>
        </div>
        <a class="aStyled" th:href="@{/bswap/myProfile/{id}(id=${id})}">My Profile</a>
    </main>


    <footer>
        <div class="footer">
        <div class="row">
            <ul>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Our Services</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Career</a></li>
            </ul>
        </div>

            <div class="row">
                Bswap Copyright © 2022 - All rights reserved 
            </div>
        </div>
    </footer>

</body>
</html>