<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/userRelated/bswap.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Bswap</title>
</head>
<body>


    <header>
        <div class="header-container">
            <a href="./bswap"><img src="images/BswapColorido.png" alt="Logo Bswap" width="220"></a>
            <nav>
                <ul>
                    <li><a href="bswap/register">Register</a></li>
                    <li><a href="bswap/login">Login</a></li>
                </ul>
            </nav>
        </div>

    </header>
    

        
    <div class="main-container">
        <div>
            <h1>Welcome!</h1>
            
            <p>Welcome to Bswap. This is a Battery Swapping Station
                <br>and our goal is to reduce the time you spend charging your
                Electric Vehicle!
            </p>
            
        </div>
        <div>
            <img src="images/wallpaper.svg" alt="Logo Bswap" width="700">
        </div>
    </div>

    <footer>
        <div class="footer">
            <div class="row">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </div>
            <div class="row">
                <ul>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Our Services</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Career</a></li>
                </ul>
            </div>

            <div class="row">
            Bswap Copyright © 2022 - All rights reserved 
            </div>
        </div>
    </footer>


</body>
</html>