<!DOCTYPE html>
<html> 
    <!-- xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/userRelated/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login</title>
    <head>
		<title>Login</title>
	</head>
	<body>

        <header>
            <div class="header-container">
                <a href="/bswap"><img src="/images/BswapBW.png" alt="Logo Bswap" width="220"></a>
                <nav>
                    <ul>
                        <li><a href="/bswap/register">Register</a></li>
                        <li><a href="/bswap/login">Login</a></li>
                    </ul>
                </nav>
            </div>
    
        </header>
        
        <main>
            <div class="loginF">
                <h1>Login</h1>
                <div th:if="${param.error}">
                    Password a Senhas Inválidas.</div>
                <div th:if="${param.logout}">
                    Você está logado!</div>
                <form th:action="@{/bswap/login}" method="post">
                    <div>
                    <input type="text" name="username"  required placeholder="Username"/>
                    </div>
                    <div>
                    <input type="password" name="password" required placeholder="Password"/>
                    </div>
                    <button type="submit" value="Log in">Log In</button>
                </form>
            </div>
        </main>

        <footer>
            <div class="footer">
                <div class="row">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-youtube"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </div>
                <div class="row">
                    <ul>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Career</a></li>
                    </ul>
                </div>
        
                <div class="row">
                Bswap Copyright © 2022 - All rights reserved 
                </div>
            </div>
        </footer>
        
	</body>
</html>